## Welcome to Learn Pandas Series
$ Season 1 Episode 1 $ <br>
* Importing Reading Datasets
* Accessing Rows
* Slicing Dataframe
* setting Resetting Indices

In [24]:
import pandas as pd

### Importing two datasets <br> one is Stack Overflow Survey data and Other is BBC News data

In [25]:
dataset_so=pd.read_csv('survey_results_public.csv')
dataset_bbc=pd.read_csv('bbc_news.csv')

In [26]:
dataset_so

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [27]:
dataset_so.shape

(83439, 48)

In [28]:
pd.set_option('display.max_columns',48) #Show all column

In [29]:
dataset_so

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [30]:
dataset_so.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [31]:
dataset_so.head(10) #first 10 rows

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
7,8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Courses or Certification,4,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;PHP;Ruby;SQL;TypeScript,Ruby,MySQL;PostgreSQL;SQLite,PostgreSQL,Heroku;Microsoft Azure,Heroku,Angular.js;jQuery;Ruby on Rails,Ruby on Rails,NaN,NaN,NaN,NaN,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent;Multiracial;South...,None of the above,None of the above,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0

In [32]:
dataset_bbc.tail(10) #last five rows

,title,pubDate,guid,link,description
15149,War in Ukraine: A 360-degree virtual journey p...,"Sun, 26 Mar 2023 00:17:54 GMT",https://www.bbc.co.uk/news/world-europe-65064688,https://www.bbc.co.uk/news/world-europe-650646...,The Undeniable Street View project provides a ...
15150,Kamala Harris Africa trip: Can US charm offens...,"Sun, 26 Mar 2023 14:38:01 GMT",https://www.bbc.co.uk/news/world-africa-65062976,https://www.bbc.co.uk/news/world-africa-650629...,US Vice-President Kamala Harris embarks on a t...
15151,Finland election: Sanna Marin fights for survival,"Sun, 26 Mar 2023 00:18:52 GMT",https://www.bbc.co.uk/news/world-europe-64872698,https://www.bbc.co.uk/news/world-europe-648726...,Polls suggest she is in a tight race with cent...
15152,England 2-0 Ukraine: 'Saka confirms status as ...,"Sun, 26 Mar 2023 19:35:04 GMT",https://www.bbc.co.uk/sport/football/65082123,https://www.bbc.co.uk/sport/football/65082123?...,BBC Sport's chief football writer Phil McNulty...
15153,Antonio Conte: Italian's Tottenham departure a...,"Sun, 26 Mar 2023 22:56:34 GMT",https://www.bbc.co.uk/sport/football/65026103,https://www.bbc.co.uk/sport/football/65026103?...,Antonio Conte's departure as Tottenham manager...
15154,Antonio Conte: How 16 volatile months at Totte...,"Sun, 26 Mar 2023 21:48:59 GMT",https://www.bbc.co.uk/sport/football/65028913,https://www.bbc.co.uk/sport/football/65028913?...,As Antonio Conte's Tottenham tenure comes to a...
15155,Euro 2024 qualifiers: Northern Ireland 0-1 Fin...,"Sun, 26 Mar 2023 20:38:21 GMT",https://www.bbc.co.uk/sport/football/65004814,https://www.bbc.co.uk/sport/football/65004814?...,Northern Ireland are left to rue missed chance...
15156,WSL highlights: Aston Villa 5-0 Leicester City,"Sun, 26 Mar 2023 23:04:57 GMT",https://www.bbc.co.uk/sport/av/football/65081160,https://www.bbc.co.uk/sport/av/football/650811...,Rachel Daly and Alisha Lehmann both strike twi...
15157,Women's Premier League: Nat Sciver-Brunt helps...,"Sun, 26 Mar 2023 18:27:16 GMT",https://www.bbc.co.uk/sport/cricket/65082830,https://www.bbc.co.uk/sport/cricket/65082830?a...,England all-rounder Nat Sciver-Brunt hits an u...
15158,World Figure Skating Championships: Ilia Malin...,"Sun, 26 Mar 2023 11:26:23 GMT",https://www.bbc.co.uk/sport/av/winter-olympics...,https://www.bbc.co.uk/sport/av/winter-olympics...,Watch as 18-year-old Ilia Malinin lands a quad...

### Creating Dataframe from Dictionary

In [33]:
dict1={
 'First Name':['Ritesh','Trump','Kafka'], 'Designation':['CEO','MD','HR'],'Age':[25,65,57]
}

In [34]:
dict1

{'First Name': ['Ritesh', 'Trump', 'Kafka'],
 'Designation': ['CEO', 'MD', 'HR'],
 'Age': [25, 65, 57]}

In [35]:
type(dict1)

dict

In [36]:
dict1['First Name']

['Ritesh', 'Trump', 'Kafka']

In [37]:
type(dict1['First Name']) #Type is List

list

In [38]:
df=pd.DataFrame(dict1)

In [39]:
df

  First Name Designation  Age
0     Ritesh         CEO   25
1      Trump          MD   65
2      Kafka          HR   57

In [40]:
df['First Name']

0    Ritesh
1     Trump
2     Kafka
Name: First Name, dtype: object

### Dataframe VS Series
A dataframe is two dimensional(rows x col). Acts as container of multiple of series.
<br> A series is a row of dataframe.

In [41]:
df.columns

Index(['First Name', 'Designation', 'Age'], dtype='object')

In [42]:
dataset_bbc.shape

(15159, 5)

### Accessing rows in dataframe
#### ``iloc=Integer Location``

In [43]:
df

  First Name Designation  Age
0     Ritesh         CEO   25
1      Trump          MD   65
2      Kafka          HR   57

In [44]:
df.iloc[0]

First Name     Ritesh
Designation       CEO
Age                25
Name: 0, dtype: object

In [80]:
dataset_so.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [45]:
dataset_so.iloc[0]

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object

In [46]:
dataset_bbc.iloc[0]

title          Ukraine: Angry Zelensky vows to punish Russian...
pubDate                            Mon, 07 Mar 2022 08:01:56 GMT
guid            https://www.bbc.co.uk/news/world-europe-60638042
link           https://www.bbc.co.uk/news/world-europe-606380...
description    The Ukrainian president says the country will ...
Name: 0, dtype: object

In [47]:
dataset_bbc.columns

Index(['title', 'pubDate', 'guid', 'link', 'description'], dtype='object')

In [84]:
dataset_bbc.iloc[2106][1]

C:\Users\Ritesh\AppData\Local\Temp\ipykernel_15348\3277208457.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dataset_bbc.iloc[2106][1]

'Sun, 24 Apr 2022 22:18:07 GMT'

In [49]:
type(dataset_bbc.iloc[2]['link'])

str

In [50]:
dataset_bbc.head(5)

,title,pubDate,guid,link,description
0,Ukraine: Angry Zelensky vows to punish Russian...,"Mon, 07 Mar 2022 08:01:56 GMT",https://www.bbc.co.uk/news/world-europe-60638042,https://www.bbc.co.uk/news/world-europe-606380...,The Ukrainian president says the country will ...
1,War in Ukraine: Taking cover in a town under a...,"Sun, 06 Mar 2022 22:49:58 GMT",https://www.bbc.co.uk/news/world-europe-60641873,https://www.bbc.co.uk/news/world-europe-606418...,"Jeremy Bowen was on the frontline in Irpin, as..."
2,Ukraine war 'catastrophic for global food',"Mon, 07 Mar 2022 00:14:42 GMT",https://www.bbc.co.uk/news/business-60623941,https://www.bbc.co.uk/news/business-60623941?a...,One of the world's biggest fertiliser firms sa...
3,Manchester Arena bombing: Saffie Roussos's par...,"Mon, 07 Mar 2022 00:05:40 GMT",https://www.bbc.co.uk/news/uk-60579079,https://www.bbc.co.uk/news/uk-60579079?at_medi...,The parents of the Manchester Arena bombing's ...
4,Ukraine conflict: Oil price soars to highest l...,"Mon, 07 Mar 2022 08:15:53 GMT",https://www.bbc.co.uk/news/business-60642786,https://www.bbc.co.uk/news/business-60642786?a...,Consumers are feeling the impact of higher ene...

In [51]:
dataset_bbc.iloc[1]

title          War in Ukraine: Taking cover in a town under a...
pubDate                            Sun, 06 Mar 2022 22:49:58 GMT
guid            https://www.bbc.co.uk/news/world-europe-60641873
link           https://www.bbc.co.uk/news/world-europe-606418...
description    Jeremy Bowen was on the frontline in Irpin, as...
Name: 1, dtype: object

In [85]:
dataset_bbc.loc[1]['description']

'Jeremy Bowen was on the frontline in Irpin, as residents came under Russian fire while trying to flee.'

In [53]:
dataset_so.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [54]:
dataset_so.iloc[0][1]

C:\Users\Ritesh\AppData\Local\Temp\ipykernel_15348\691206466.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dataset_so.iloc[0][1]

'I am a developer by profession'

### To get selected rows in dataframe

In [55]:
dataset_bbc.iloc[[0,1,53]] #First two rows

,title,pubDate,guid,link,description
0,Ukraine: Angry Zelensky vows to punish Russian...,"Mon, 07 Mar 2022 08:01:56 GMT",https://www.bbc.co.uk/news/world-europe-60638042,https://www.bbc.co.uk/news/world-europe-606380...,The Ukrainian president says the country will ...
1,War in Ukraine: Taking cover in a town under a...,"Sun, 06 Mar 2022 22:49:58 GMT",https://www.bbc.co.uk/news/world-europe-60641873,https://www.bbc.co.uk/news/world-europe-606418...,"Jeremy Bowen was on the frontline in Irpin, as..."
53,Covid: Five things we still need to keep an ey...,"Sat, 26 Feb 2022 00:50:33 GMT",https://www.bbc.co.uk/news/health-60494159,https://www.bbc.co.uk/news/health-60494159?at_...,"The UK is moving to its ""living with Covid"" ph..."

### To get a particular column value of multiple rows in dataframe <br> With `iloc` we can pass only integer but with `loc` we can pass *labels* too

In [56]:
dataset_bbc.iloc[[0,1,2,3],0] #Title of first 4 Rows

0    Ukraine: Angry Zelensky vows to punish Russian...
1    War in Ukraine: Taking cover in a town under a...
2           Ukraine war 'catastrophic for global food'
3    Manchester Arena bombing: Saffie Roussos's par...
Name: title, dtype: object

In [57]:
dataset_bbc.loc[[0,1,2,3],'link']
#We can pass label in loc but with iloc we can pass only integer

0    https://www.bbc.co.uk/news/world-europe-606380...
1    https://www.bbc.co.uk/news/world-europe-606418...
2    https://www.bbc.co.uk/news/business-60623941?a...
3    https://www.bbc.co.uk/news/uk-60579079?at_medi...
Name: link, dtype: object

In [58]:

dataset_bbc.loc[[30,1545,2455],['title','pubDate']]

,title,pubDate
30,'They thought he was too young for heart disease',"Sun, 06 Mar 2022 09:14:03 GMT"
1545,How will Russia attack Ukraine's new front lines?,"Sat, 09 Apr 2022 23:03:15 GMT"
2455,Hopes and fears as England's local election ca...,"Wed, 04 May 2022 01:18:44 GMT"

In [59]:
 dataset_bbc['link']

0        https://www.bbc.co.uk/news/world-europe-606380...
1        https://www.bbc.co.uk/news/world-europe-606418...
2        https://www.bbc.co.uk/news/business-60623941?a...
3        https://www.bbc.co.uk/news/uk-60579079?at_medi...
4        https://www.bbc.co.uk/news/business-60642786?a...
                               ...
15154    https://www.bbc.co.uk/sport/football/65028913?...
15155    https://www.bbc.co.uk/sport/football/65004814?...
15156    https://www.bbc.co.uk/sport/av/football/650811...
15157    https://www.bbc.co.uk/sport/cricket/65082830?a...
15158    https://www.bbc.co.uk/sport/av/winter-olympics...
Name: link, Length: 15159, dtype: object

In [60]:
dataset_so['Currency']

0                  EUR European Euro
1                                NaN
2                                NaN
3                  EUR European Euro
4                GBP\tPound sterling
                    ...
83434      USD\tUnited States dollar
83435    XOF\tWest African CFA franc
83436      USD\tUnited States dollar
83437           CAD\tCanadian dollar
83438            BRL\tBrazilian real
Name: Currency, Length: 83439, dtype: object

### ``value_counts()``

In [61]:
dataset_so['Currency'].value_counts() #

Currency
USD\tUnited States dollar           14363
EUR European Euro                   13932
INR\tIndian rupee                    6427
GBP\tPound sterling                  3547
CAD\tCanadian dollar                 2108
                                    ...
BMD\tBermudian dollar                   1
GGP\tGuernsey Pound                     1
KPW\tNorth Korean won                   1
XDR\tSDR (Special Drawing Right)        1
ERN\tEritrean nakfa                     1
Name: count, Length: 146, dtype: int64

In [62]:
dataset_so.loc[0] ## all information of row 1

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object

In [63]:
dataset_so.loc[0,'Country']

'Slovakia'

In [64]:
dataset_so['Gender']

0        Man
1        Man
2        Man
3        Man
4        Man
        ...
83434    Man
83435    Man
83436    Man
83437    Man
83438    Man
Name: Gender, Length: 83439, dtype: object

In [65]:
df2=dataset_so["Gender"].value_counts() #info of Gender in dataset
df2

Gender
Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: count, dtype: int64

In [66]:
type(df2)

pandas.core.series.Series

In [67]:
dataset_so.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

### Slicing the dataframe

In [68]:
dataset_so.loc[0:2, 'Country':'Currency']

,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency
0,Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro
1,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN
2,Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN

In [69]:
pd.set_option('display.max_colwidth', None)

In [70]:
dataset_bbc

,title,pubDate,guid,link,description
0,Ukraine: Angry Zelensky vows to punish Russian atrocities,"Mon, 07 Mar 2022 08:01:56 GMT",https://www.bbc.co.uk/news/world-europe-60638042,https://www.bbc.co.uk/news/world-europe-60638042?at_medium=RSS&at_campaign=KARANGA,The Ukrainian president says the country will not forgive or forget those who murder its civilians.
1,War in Ukraine: Taking cover in a town under attack,"Sun, 06 Mar 2022 22:49:58 GMT",https://www.bbc.co.uk/news/world-europe-60641873,https://www.bbc.co.uk/news/world-europe-60641873?at_medium=RSS&at_campaign=KARANGA,"Jeremy Bowen was on the frontline in Irpin, as residents came under Russian fire while trying to flee."
2,Ukraine war 'catastrophic for global food',"Mon, 07 Mar 2022 00:14:42 GMT",https://www.bbc.co.uk/news/business-60623941,https://www.bbc.co.uk/news/business-60623941?at_medium=RSS&at_campaign=KARANGA,One of the world's biggest fertiliser firms says the conflict could deliver a shock to food supplies.
3,Manchester Arena bombing: Saffie Roussos's parents on hearing the truth,"Mon, 07 Mar 2022 00:05:40 GMT",https://www.bbc.co.uk/news/uk-60579079,https://www.bbc.co.uk/news/uk-60579079?at_medium=RSS&at_campaign=KARANGA,The parents of the Manchester Arena bombing's youngest victim speak about their life since she died.
4,Ukraine conflict: Oil price soars to highest level since 2008,"Mon, 07 Mar 2022 08:15:53 GMT",https://www.bbc.co.uk/news/business-60642786,https://www.bbc.co.uk/news/business-60642786?at_medium=RSS&at_campaign=KARANGA,Consumers are feeling the impact of higher energy costs as fuel prices and household bills jump.
...,...,...,...,...,...
15154,Antonio Conte: How 16 volatile months at Tottenham unravelled,"Sun, 26 Mar 2023 21:48:59 GMT",https://www.bbc.co.uk/sport/football/65028913,https://www.bbc.co.uk/sport/football/65028913?at_medium=RSS&at_campaign=KARANGA,"As Antonio Conte's Tottenham tenure comes to an end after a volatile 16 months, BBC Sport looks at how the Italian's reign unravelled."
15155,Euro 2024 qualifiers: Northern Ireland 0-1 Finland - Hosts rue disallowed goal in defeat,"Sun, 26 Mar 2023 20:38:21 GMT",https://www.bbc.co.uk/sport/football/65004814,https://www.bbc.co.uk/sport/football/65004814?at_medium=RSS&at_campaign=KARANGA,Northern Ireland are left to rue missed chances and a disallowed goal as Finland deliver an early blow to their Euro 2024 qualification hopes with a 1-0 win in Belfast.
15156,WSL highlights: Aston Villa 5-0 Leicester City,"Sun, 26 Mar 2023 23:04:57 GMT",https://www.bbc.co.uk/sport/av/football/65081160,https://www.bbc.co.uk/sport/av/football/65081160?at_medium=RSS&at_campaign=KARANGA,Rachel Daly and Alisha Lehmann both strike twice as Aston Villa put the Women's Super League's bottom side Leicester to the sword at Villa Park.
15157,Women's Premier League: Nat Sciver-Brunt helps Mumbai Indians beat Delhi Capitals to win title,"Sun, 26 Mar 2023 18:27:16 GMT",https://www.bbc.co.uk/sport/cricket/65082830,https://www.bbc.co.uk/sport/cricket/65082830?at_medium=RSS&at_campaign=KARANGA,England all-rounder Nat Sciver-Brunt hits an unbeaten 60 as Mumbai Indians beat Delhi Capitals to claim the first Women's Premier League champions.
15158,World Figure Skating Championships: Ilia Malinin lands quadruple axel,"Sun, 26 Mar 2023 11:26:23 GMT",https://www.bbc.co.uk/sport/av/winter-olympics/65081096,https://www.bbc.co.uk/sport/av/winter-olympics/65081096?at_medium=RSS&at_campaign=KARANGA,"Watch as 18-year-old Ilia Malinin lands a quadruple axel for the first time on the world stage at the World Figure Skating Championships in Saitama, Japan."

## Setting and Resetting Index

In [71]:
dataset_bbc.set_index('title') #make title as index

,pubDate,guid,link,description
title,,,,
Ukraine: Angry Zelensky vows to punish Russian atrocities,"Mon, 07 Mar 2022 08:01:56 GMT",https://www.bbc.co.uk/news/world-europe-60638042,https://www.bbc.co.uk/news/world-europe-60638042?at_medium=RSS&at_campaign=KARANGA,The Ukrainian president says the country will not forgive or forget those who murder its civilians.
War in Ukraine: Taking cover in a town under attack,"Sun, 06 Mar 2022 22:49:58 GMT",https://www.bbc.co.uk/news/world-europe-60641873,https://www.bbc.co.uk/news/world-europe-60641873?at_medium=RSS&at_campaign=KARANGA,"Jeremy Bowen was on the frontline in Irpin, as residents came under Russian fire while trying to flee."
Ukraine war 'catastrophic for global food',"Mon, 07 Mar 2022 00:14:42 GMT",https://www.bbc.co.uk/news/business-60623941,https://www.bbc.co.uk/news/business-60623941?at_medium=RSS&at_campaign=KARANGA,One of the world's biggest fertiliser firms says the conflict could deliver a shock to food supplies.
Manchester Arena bombing: Saffie Roussos's parents on hearing the truth,"Mon, 07 Mar 2022 00:05:40 GMT",https://www.bbc.co.uk/news/uk-60579079,https://www.bbc.co.uk/news/uk-60579079?at_medium=RSS&at_campaign=KARANGA,The parents of the Manchester Arena bombing's youngest victim speak about their life since she died.
Ukraine conflict: Oil price soars to highest level since 2008,"Mon, 07 Mar 2022 08:15:53 GMT",https://www.bbc.co.uk/news/business-60642786,https://www.bbc.co.uk/news/business-60642786?at_medium=RSS&at_campaign=KARANGA,Consumers are feeling the impact of higher energy costs as fuel prices and household bills jump.
...,...,...,...,...
Antonio Conte: How 16 volatile months at Tottenham unravelled,"Sun, 26 Mar 2023 21:48:59 GMT",https://www.bbc.co.uk/sport/football/65028913,https://www.bbc.co.uk/sport/football/65028913?at_medium=RSS&at_campaign=KARANGA,"As Antonio Conte's Tottenham tenure comes to an end after a volatile 16 months, BBC Sport looks at how the Italian's reign unravelled."
Euro 2024 qualifiers: Northern Ireland 0-1 Finland - Hosts rue disallowed goal in defeat,"Sun, 26 Mar 2023 20:38:21 GMT",https://www.bbc.co.uk/sport/football/65004814,https://www.bbc.co.uk/sport/football/65004814?at_medium=RSS&at_campaign=KARANGA,Northern Ireland are left to rue missed chances and a disallowed goal as Finland deliver an early blow to their Euro 2024 qualification hopes with a 1-0 win in Belfast.
WSL highlights: Aston Villa 5-0 Leicester City,"Sun, 26 Mar 2023 23:04:57 GMT",https://www.bbc.co.uk/sport/av/football/65081160,https://www.bbc.co.uk/sport/av/football/65081160?at_medium=RSS&at_campaign=KARANGA,Rachel Daly and Alisha Lehmann both strike twice as Aston Villa put the Women's Super League's bottom side Leicester to the sword at Villa Park.
Women's Premier League: Nat Sciver-Brunt helps Mumbai Indians beat Delhi Capitals to win title,"Sun, 26 Mar 2023 18:27:16 GMT",https://www.bbc.co.uk/sport/cricket/65082830,https://www.bbc.co.uk/sport/cricket/65082830?at_medium=RSS&at_campaign=KARANGA,England all-rounder Nat Sciver-Brunt hits an unbeaten 60 as Mumbai Indians beat Delhi Capitals to claim the first Women's Premier League champions.
World Figure Skating Championships: Ilia Malinin lands quadruple axel,"Sun, 26 Mar 2023 11:26:23 GMT",https://www.bbc.co.uk/sport/av/winter-olympics/65081096,https://www.bbc.co.uk/sport/av/winter-olympics/65081096?at_medium=RSS&at_campaign=KARANGA,"Watch as 18-year-old Ilia Malinin lands a quadruple axel for the first time on the world stage at the World Figure Skating Championships in Saitama, Japan."

In [72]:
df

  First Name Designation  Age
0     Ritesh         CEO   25
1      Trump          MD   65
2      Kafka          HR   57

In [73]:
df.set_index('First Name')

           Designation  Age
First Name
Ritesh             CEO   25
Trump               MD   65
Kafka               HR   57

In [74]:
df

  First Name Designation  Age
0     Ritesh         CEO   25
1      Trump          MD   65
2      Kafka          HR   57

In [75]:
#to make index permanently 
df.set_index('First Name', inplace=True)

In [76]:
df

           Designation  Age
First Name
Ritesh             CEO   25
Trump               MD   65
Kafka               HR   57

In [78]:
#index can be used to get information 
df.loc['Trump'] #instead of loc[0]

Designation    MD
Age            65
Name: Trump, dtype: object

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
# setting 	ResponseId as index in dataset_so
dataset_so.set_index('ResponseId', inplace=True)

In [ ]:
dataset_so.head(2)

In [ ]:
dataset_so.loc[1400] #can access any row using index value